.table-component {
    margin-left: auto;
}

.MuiThemeProvider > .Paginator {
    border-style: solid;
    border-width: 1px;
    height: 10px;
    width: 25%;
}

i.material-icons {
    font-size: 15px;
    padding: 2px;
}